@import url("tarjetas.css");
@import url("quienes-somos.css");
@import url("Equipos.css");
@import url("header.css");
@import url("main.css");

body {
    text-align: center;
    font-family: "Courier New";

    margin: 0%;
}
h2 {
    font-weight: 500;
}

@media (min-width: 800px) { 
    h2 {
        font-size: xx-large;
    }
}

/* temporal bloque a footer */
#footer {
    display: none;
}