@import url("tarjetas.css");
@import url("quienes-somos.css");

body {
    text-align: center;
    font-family: "Courier New";
}
h2 {
    font-weight: 500;
  }

@media (min-width: 800px) { 
    h2 {
        font-size: xx-large;
    }
}